@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff' ) format(woff),
        url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') format(woff2);
  }

body{
    font-family:'bitbit';
} 

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    
}
