* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.inner{
    margin: 0px 100px;
    height: 100%;
    /* display: flex;
    justify-content: center; */

}
.h-container{
    background-color: black;
    border: solid 6px #f8cb2e;
    height: 60px;
}
.h-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 200px */
}

.logo img{
    display: block;
    width: 300px;
    height: 60px;
}
.member-nav{
    display: flex;
    position:absolute;
    left: 75%;
    gap: 40px;
    padding: 0px 20px;
}
.member-nav a{
    color: #ffffff;
    font-size: 20px;
}
/*header*/

.slider-container{
    border: solid 6px #f8cb2e;
    border-top: none;
    height: 400px;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 400px;
    
}
.slider-wrap{
    width: 100%;
    height: 400px;
    
}
.slider img{
    height: 400px;
}

/*슬라이더끝*/

.h-bottom{
    display: flex;
    justify-content: center;
    background: black;
    border: solid 6px #f8cb2e;
    border-top: none;
    box-sizing: border-box;
}
.main-nav{
    display: flex;
    align-items: center;
    gap: 50px;
}
.main-nav > a{
    color: #ffffff;
    padding: 10px;
    font-size: 25px;
}
input {
    width: 260px;
    height: 30px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 60px;
    background-color: rgb(233, 233, 233);
}
/*메인네비*/

.main-container{
    width: 100%;
    height: 100%;
    
}
.best-wrap{
    background: #5eaa66;
}
.txt-box{
    display: flex;
    justify-content: center;
}
.txt-box > p{
    padding: 60px 0px;
    font-size: 40px;
}

.best-content{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.best-box{
    padding-bottom: 60px;
}
.best-box-wrap{
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border: solid 6px #780c0c;
    border-radius: 25px;
}
.best-box-wrap img{
    width: 100%;
    height: 100%;
}
p.product{
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    color: #111111;
}
p.price{
    padding: 15px 0px;
    text-align: center;
    font-size: 25px;
    color: #780c0c;
}
/*베스트상품영역*/

.custom-wrap{
    background-color: #f8cb2e;
}
.custom-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.custom-list ul li{
    display: flex;
    width: 10%;
    display: inline-block;
    border: solid 4px #5eaa66;
    border-radius: 25px;
    
}
.custom-list ul li a{
    display: flex;
    font-size: 25px;
    justify-content: center;
    padding: 10px;
    color: black;
}
.custom-content{
    display: flex;
    justify-content: space-evenly;
}
.custom-box{
    padding: 60px 0px;
}
.custom-box-wrap{
    width: 250px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border: solid 6px #780c0c;
    border-radius: 25px;
}
.custom-box-wrap img{
    width: 100%;
    height: 100%;
}
/*커스텀박스*/

.middle-baner{
    padding: 100px 0px ;
    display: flex;
    justify-content: center;
}
.middle-baner img{
    width: 100%;
    height: 100%;
}
.m-baner1{
    border: solid 6px #780c0c;
}
.m-baner2{
    border: solid 6px #780c0c;
    border-left: none;
}
/*중간배너*/

.sig-wrap{
    background-color: #f8cb2e;
}
.sig-content{
    padding-bottom: 100px;
}
.sig-box{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
}
.sig-box-wrap{
    width: 230px;
    position: relative;
    overflow: hidden;
    border: solid 6px #780c0c;
    border-radius: 25px;
}

.sig-box-wrap img{
    position: relative;
    width: 100%;
    height: 100%;
}
.s-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 200ms;
}
.s-text-box:hover{
    opacity: 1;
    scale: 1.3;
    background: rgba(224, 203, 66, 0.7);
}
.s-text{
    font-size: 22px;
    color: #780c0c;
    padding-bottom: 10px;
}
.s-text1{
    font-size: 18px;
    color: #2d4cc0;
    text-align: center;
}
/*시그니처박스*/

.event-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-bottom: 30px;
}
.event-container{
    background-color: #f8cb2e;
    display: flex;
    justify-content: center;   
}
.event-box{
    background-color: #ffb9db;
    width: 1600px;
    height: 100%;
    padding: 30px 30px;
    border: #111111 solid 8px;
    border-radius: 26px;
}

.e-baner{
    width: 100%;
    display: flex;
    justify-content: center;
}
.e-baner1{
    width: 100%;
    border: #111111 solid 8px;
    border-radius: 26px;
    overflow:hidden;
}

.e-baner1 img{
    width: 100%;
    display: block;
}
.e-conbox{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.e-con1{
    height: 500px;
    border: #111111 solid 8px;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
}
.e-con1 img{
    height: 100%;
}
.e-text1{
    position: absolute;
    bottom: 44px;
    left: 60px;  
}
.e-text1 a{
    font-size: 30px;
    color: #dddddd;
}
.e-text2{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0px;
    text-align: center;  
}
.e-text2 a{
    font-size: 30px;
    color: #690000;
}
.e-text3{
    position: absolute;
    width: 100%;
    bottom: 4px;
    left: 0px;  
    text-align: center;
}
.e-text3 a{
    font-size: 26px;
    color: #dddddd;
}
/*이벤트박스*/
.review-wrap{
    background-color: #f8cb2e;
}
.review-container{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}
.review-box{
    width: 1600px;
    height: 300px;
    border: #111111 8px solid;
    display: flex;
    padding: 30px;
    border-radius: 26px;
    gap: 20px;
}
.best-review-box{
    position: relative;
    width: 100%;
    text-align: center;
    border: transparent 4px solid;
    border-radius: 30px;
    overflow: hidden;
}
.best-review-box img{
    width: 100%;
    height: 100%;
}
.r-text-box{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    background-color: rgb(0,0,0, 0.5);
    transition: 500ms;
    height: 100%;
}
.r-text-box:hover{
    opacity: 1;
}

.r-text{
    padding: 20px;
    color: #ffffff;
    font-size: 22px;
}
.r-t{
    padding: 20px;
    color: #dddddd;
    font-size: 18px;
    
}

.footer{
    background: #f8cb2e;
}
.foot-list{
    display: flex;
    justify-content: center;
    background: #006e7f;
    
}
.foot-list ul li a{
    color: black;
}
.foot-list ul li{
    display: inline-block;
    padding: 20px 60px;
    font-size: 20px;
}
.foot-content{
    padding: 50px;
    background-color: gold;
}
.cs-container{
    display: flex;
}
.cs-content{
    width: 50%;
}
.cs-center{
    display: flex;
    align-items: center;
}

.cs-cont{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.cs-info{
    display: flex;
    align-items: center;
}
.foot-maintext{
    font-size: 30px;
    color: #003c46;
    padding-right: 40%;
}
.foot-subtext{
    font-size: 20px;
    color: #222222;
}
.foot-logo{
    display: flex;
    justify-content: center;
}
.foot-logo img{
    width: 150px;
    height: 150px;
}



